NODE_ENV=development
PORT=5000
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:123456@localhost:3306/vietfuture"
JWT_SECRET=f9a2b8e5c1d4f6a7b3c9e0d2a1b5c8f4e7d9a6b3c2f1e0d5a8b4c7d6e9f2a3b1

# Coze AI Chatbot
COZE_API_KEY=pat_bG4AfkP3IX2OYaTD5IwTKA0ZK6ZCzdVYHqjTv11t4y1uGZ3KPukw1S4UaEXkWiyN
COZE_BOT_ID=7649773881774882869
COZE_API_URL=https://api.coze.com/v3
